.container-info {
    display: flex;
    max-width: 1400px;
    margin: 50px auto 50px auto;
    background-color: rgba(0, 0, 0, 0);
}

.container-main-info {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
    border-top: solid 4px #016204;
    border-bottom: solid 4px #ffac1a;
    display: flex;
}

.container-main-info-noflex {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
    border-top: solid 4px #016204;
    border-bottom: solid 4px #ffac1a;
}

.profile-logo {
    width: 150px;
    height: 150px;
}

.info {
    width: 200px;
    padding: 0px 40px;
}

.follow-button {
    border: 2px solid var(--color-main);
    background-color: rgba(255, 0, 0, 0);
    padding: 5px 30px;
    border-radius: 10px;
    color: #016204;
    margin-top: 10px;
    font-size: 14px;
}

.follow-button:hover {
    background-color: var(--color-main);
    color: white;
    cursor: pointer;
}


.detail {
    display: flex;
    width: 60%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid var(--color-main);
    align-items: center;
    flex-wrap: wrap;
}

.zeaninfo-follower {
    padding: 10px 0px;
    width: 33%;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.zeaninfo-follower p {
    font-weight: 100;
    font-size: 16px;
}

.zeaninfo-bettingtips {
    padding: 10px 0px;
    width: 33%;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.zeaninfo-bettingtips p {
    font-weight: 100;
    font-size: 16px;
}

.zeaninfo-profits {
    padding: 10px 0px;
    width: 33%;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #16a800;
}

.zeaninfo-profits p {
    font-weight: 100;
    font-size: 16px;
    color: #000000;
}

@media screen and (max-width: 600px) {
    .container-main-info {
        flex-wrap: wrap;
    }

    .profile-logo {
        width: 100px;
        height: 100px;
        margin: auto;
    }

    .info {
        padding: 0px 0px;
        margin: auto;
        text-align: center;
    }

    .detail {
        width: 100%;
        margin: 20px auto;
    }

    .zeaninfo-follower {
        font-size: 14px;
    }

    .zeaninfo-follower p {
        font-size: 10px;
    }

    .zeaninfo-bettingtips {
        font-size: 14px;
    }

    .zeaninfo-bettingtips p {
        font-size: 10px;
    }

    .zeaninfo-profits {
        font-size: 14px;
    }

    .zeaninfo-profits p {
        font-size: 10px;
    }
}

/* tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: var(--color-main);
    border-radius: 10px 10px 0px 0px;
    
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
}   


.tablinks {
    color: white;
    font-weight: 600;
}


.tab button.active {
    background-color: var(--color-link);
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.tab button:hover {
    background-color: var(--color-link);
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.tabcontent h3 {
    font-size: 23px;
    font-weight: 600;
}

/* tab */

/* runningtip */

.runningtips-table th {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.runningtips-table td {
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    border-bottom: 3px solid #D9D9D9;
    text-align: center;
    background-color: rgb(238, 238, 238);
}

.runningtips-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: var(--color-main);
    /* overflow: scroll;
    display: block; */
}
@media screen and (max-width:840px) {
    .runningtips-table{
        width: 100%;
        overflow: scroll;
        display: block;
    }
    
}

.purchase-button {
    padding: 5px 20px 5px 20px;
    border: 3px solid #0A4700;
    border-radius: 5px;
    color: #0A4700;
    background-color: rgba(255, 0, 0, 0);
    font-weight: 600;
}
.purchase-button:hover{
    color: white;
    background-color: var(--color-main);
    cursor: pointer;
}

.analytic-area {
    resize: none;
    border-radius: 10px;
    border: 0px;
    width: 150px;
    background-color: white;
    padding: 5px;
    color: #000000;
}

/* runningtip */


/* history */
.history-table th{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    text-align: center;
  }
  
  .history-table td{
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    border-bottom: 3px solid #D9D9D9;
    text-align: center;
    background-color: rgb(238, 238, 238);
  }

  .history-table{
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-main);
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  }
  #event{
    padding: 0px 100px;
  }

  @media screen and (max-width:840px) {
    .history-table{
        overflow: scroll;
        display: block;
    }

  }



/* history */