/* matchtable start*/
.match-table {
    padding: 40px 40px 100px 40px;
}

.icon-link {
    width: 35px;
    height: 35px;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    border-radius: 50px;
}

.icon-link:hover {
    background-color: rgb(124, 124, 124);
    
}

.icon-league {
    width: 20px;
    height: 30px;
}

.icon-frag {
    width: 40px;
    height: 25px;
}

.match-header {
    background-image: var(--color-bg-img);
    padding: 10px 15px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: white;
    display: flex;
    border-radius: 10px;
    align-items: center;
}

.datepicker-search {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.match-header span {
    width: 50%;
}

.league-name {
    background-image: var(--color-bg-img);
    display: flex;
    padding: 10px 15px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-top: 50px;
    border-radius: 10px 10px 0px 0px;
}

.league-name p {
    margin: 0px 15px;

}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    background-color: white;

}

.league-match {
    width: 100%;
    background-color: var(--color-main);


}

.league-match th {
    background-color: #096400;
    color: white;
    padding: 8px 0px;
    font-size: 14px;



}

table td {
    padding: 10px 0px;
    border-bottom: 1px solid #b9b9b9;
}


@media screen and (max-width: 840px) {

    #time,
    #flag,
    #live,
    #price,
    #first-half,
    #result,
    #teded,
    #live-link {
        padding: 0px 20px;
        white-space: nowrap;

    }

    #host,
    #team-sec {
        padding: 10px 80px;
        white-space: nowrap;
    }

    table {
        display: block;
        overflow: scroll;
    }

    .match-table {
        padding: 40px 15px 100px 15px;
    }

    .match-header {
        font-size: 12px;
        line-height: 20px;
    }

}

.datepicker-search input {
    border-radius: 8px;
    padding: 5px;
}

.datepicker-search button {
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
}

.datepicker-search button:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}




/* matchtable end*/