

.container-ranking {
  display: flex;
    max-width: 1400px;
    margin: 50px auto 50px auto;
    background-color: rgba(0, 0, 0, 0);
}

.top5-table thead tr th {
  font-size: 26px;
  border-bottom: 2px solid rgb(37, 37, 37);
  padding: 20px;
}

.top5-table tbody tr td {
  padding: 10px;
  font-size: 18px;
  border-bottom: 2px solid rgb(37, 37, 37);
  font-weight: 600;
}
a{
  color: var(--color-main);
  text-decoration: none;
}
a:hover{
  color: var(--color-second);
}

.zeanname {
  text-decoration-line: underline;
  cursor: pointer;
}

.ranking-header {
  border-left: 10px solid var(--color-main);
  padding-left: 10px;
}

.ranking-table {
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

.top5-table {
  width: 500px;
  margin: auto;
}
@media screen and (max-width:600px) {
  .top5-table {
    width: 100%;
    padding: 15px;
  }
}

.select-time {
  text-align: right;
}

.search-icon{
  border-radius: 20px;
  padding: 5px 10px;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
}

.search-icon:hover{
  background-color: rgb(211, 211, 211);
  cursor: pointer;
}

.all-zean-table th{
  
    color: white;
    padding: 15px 10px;
    font-size: 16px;
    
}

.all-zean-table td{
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  border-bottom: 2px solid rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(228, 228, 228);
}

.all-zean-table{
  width: 100%;
padding: 0px 40px;
border-collapse: collapse;
background-color: var(--color-main);
border-radius: 10px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);

}

@media screen and (max-width:600px) {
  .all-zean-table{
    padding: 0px;
    width: 100%;
    display: block;
    overflow: scroll;
  }
}

.followbutton{
  padding:5px 5px 5px 5px;
  border:3px solid #0A4700;
  border-radius: 5px;
  fill: #0A4700;
  background-color: rgba(255, 0, 0, 0);
  width: 100%;
  

}

.followbutton:hover{
  background-color: #0A4700;
  fill: white;
  cursor: pointer;
}

.viewmorebutton{
  padding:7px 5px 7px 5px;
  border:3px solid #000000;
  border-radius: 5px;
  color: #000000;
  background-color: rgba(255, 0, 0, 0);
  font-weight: 600;
  width: 100%;
  
}

.viewmorebutton:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}