.container-teded {
    display: flex;
    max-width: 1400px;
    margin: 50px auto 50px auto;
    background-color: rgba(0, 0, 0, 0);
}


.select-betting {
    text-align: right;
}

.select-betting select {
    padding: 5px;
    border-radius: 10px;

}

.select-betting button {
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
}

/* table */

.teded-table {
    margin-top: 20px;
    width: 100%;
    background-color: var(--color-main);
    border-radius: 10px;
    border-collapse: collapse;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
        overflow: scroll;

}

.teded-table th {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 10px 0px 10px 0px;
    white-space: nowrap; /*  ทำให้ตัวหนังสือไม่ตกบรรทัด */
}

.teded-table td {
    white-space: nowrap; /*  ทำให้ตัวหนังสือไม่ตกบรรทัด */
    background-color: #EDEDED;
    padding: 10px 5px 10px 15px;
    border: 0px;
    color: black;
    border-bottom: 1px solid rgb(214, 214, 214);
}

td a {
    color: black;
    text-decoration: underline;
}

td a:hover {
    color: #0A4700;
    text-decoration: underline;
}

.zean-analy {
    resize: none;
    border-radius: 10px;
    border: 0px;
    background-color: white;
    padding: 8px;
    color: #000000;
}

.bt-purchase {
    background-color: #ffffff00;
    border: 3px solid var(--color-main);
    color: var(--color-main);
    border-radius: 10px;
    padding: 3px 20px 3px 20px;

}

.bt-purchase:hover {
    background-color: var(--color-main);
    color: white;
    border: 3px solid var(--color-main);
    cursor: pointer;
}

.bt-purchase.active {
    background-color: var(--color-main);
    color: white;
    border: 3px solid var(--color-main);
    cursor: auto;
}

@media screen and (max-width:840px) {
    .teded-table {
        display: block;
        overflow: scroll;
    }
}

/* table */