.container-zean {
    display: flex;
    max-width: 1400px;
    margin: 50px auto 50px auto;
    background-color: rgba(0, 0, 0, 0);

}

.container-back-left {
    width: 400px;
    margin-right: 5px;

}

.container-back-right {
    width: 1000px;
    margin-left: 5px;

}

@media screen and (max-width: 600px) {

    .container-back-left {
        width: 100%;

    }

    .container-back-right {
        width: 100%;

    }

    .container-main-zean{
        padding: 40px 20px !important;
    }

}

.container-main-zean {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 40px 60px;
    border-top: solid 4px #016204;
    border-bottom: solid 4px #ffac1a;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.profile-img {
    width: 150px;
}

.container-main-zean h2 {
    padding-top: 20px;
    font-weight: 600;
}

.container-main-zean span {
    font-size: 18px;
}

/* follower and credit */
.creditfollow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.creditfollowdetail {
    width: 130px;
    justify-content: center;
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-wrap: wrap;
}

.creditfollowdetail svg {
    padding-top: 5px;
    width: 30px;
    height: 30px;
}

.credit-font span {
    font-size: 10px;
}

.credit-font {
    padding: 10px 5px;
    font-size: 10px;
    line-height: 1px;
}

.credit-font p {
    font-size: 16px;
    font-weight: 600;
}

/* follower and credit */


/* tip-win-profit */
.tip-win-profit {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tip-win-profit div {
    padding: 15px 20px 0px 20px;
    font-weight: 600;
    line-height: 10px;
}

.tip-win-profit-detail span {
    color: #686868;

}

/* tip-win-profit */

/* menuzean */

.menuzean {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.icon-menu {
    width: 70px;
    font-size: 12px;
    margin: 1px 1px;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
}

.icon-menu:hover {
    background-color: rgba(24, 24, 24, 0.247);
    border-radius: 20px;
    cursor: pointer;

}

.icon-menu.active {
    background-color: rgba(24, 24, 24, 0.247);
    border-radius: 20px;
    cursor: pointer;
}

.icon-menu svg {
    width: 20px;
    height: 20px;
}

/* menuzean */

/* home */
.container-main-zean textarea[id=biosummary],
textarea[id=performance] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 10px;
    resize: none;
    
}

.container-main-zean input[type=submit] {
    width: 50%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #089216;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.runningtips {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    background-color: var(--color-main);
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px){
    .runningtips{
        display: block;
        overflow: scroll;
    }
}

.runningtips thead th {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 15px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.runningtips tbody td {
    padding: 15px 10px 15px 10px;
    font-size: 14px;
    border-bottom: 3px solid #D9D9D9;
    text-align: center;
    background-color: rgb(238, 238, 238);
}

.edit-bt {
    background-color: #ffffff00;
    border: 3px solid var(--color-main);
    fill: var(--color-main);
    border-radius: 10px;
    padding: 3px 20px 3px 20px;
    width: 100%;
}

.edit-bt:hover {
    background-color: var(--color-main);
    fill: white;
    cursor: pointer;
}

.delete-bt {
    background-color: #ffffff00;
    border: 3px solid #d60000;
    fill: #d60000;
    border-radius: 10px;
    padding: 3px 20px 3px 20px;
    width: 100%;
}
.delete-bt:hover {
    background-color: #d60000;
    fill: white;
    cursor: pointer;
}



/* home */


/* profile */
.formprofile input[id=name],
.formprofile input[id=birthdate],
.formprofile input[id=email],
.formprofile input[id=phone],
.formprofile input[id=lineid],
.formprofile input[id=lastname],
.formprofile input[id=avatar],
.formprofile input[id=old-psw],
.formprofile input[id=psw-new],
.formprofile input[id=psw-repeat] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select[id=gender] {
    width: 65%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formprofile {
    display: flex;
    width: 90%;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.formprofile label {
    width: 30%;
    display: flex;

}

.save-profile {
    width: 30%;
    padding: 12px 20px;
    margin: 20px 0px;
    border-radius: 20px;
    border: 1px solid var(--color-main);
    color: white;
    font-weight: 600;
    background-color: var(--color-main);
    cursor: pointer;
}





@media screen and (max-width: 600px) {
    .save-profile {
        width: 100%;
    }

    .formprofile label {
        width: 100%;
        display: flex;

    }

    .formprofile input[id=name],
    .formprofile input[id=birthdate],
    .formprofile input[id=email],
    .formprofile input[id=phone],
    .formprofile input[id=lineid],
    .formprofile input[id=lastname],
    .formprofile input[id=avatar],
    .formprofile input[id=old-psw],
    .formprofile input[id=psw-new],
    .formprofile input[id=psw-repeat] {
        width: 100%;
    }

    .formprofile select[id=gender] {
        width: 100%
    }
}

/* profile */


/* teded */
.formteded {
    display: flex;
    width: 700px;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.formteded label {
    width: 30%;
    display: flex;

}

.formteded input[id=bettingprice],
.formteded input[id=oddprice],
.formteded input[id=price],
.formteded textarea[id=analytic] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: flex;
    border: 1px solid #ccc;
    resize: none;
    border-radius: 5px;
}

.formteded select[id=team1],
.formteded select[id=team2],
.formteded select[id=bettingtype] {
    width: 65%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .formteded {
        width: 100%;
    }

    .formteded label {
        width: 100%;
        display: flex;

    }

    .formteded input[id=bettingprice],
    .formteded input[id=oddprice],
    .formteded input[id=price],
    .formteded textarea[id=analytic] {
        width: 100%;
    }

    .formteded select[id=team1],
    .formteded select[id=team2],
    .formteded select[id=bettingtype] {
        width: 100%;
    }

}


/* teded */




/* teded history */

.datepicker-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.datepicker-search input {
    border-radius: 20px;
    padding: 5px;
}

.datepicker-search button {
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
}

.datepicker-search button:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

.teded-history-table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-main);
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.teded-history-table th {
    background-color: #09470000;
    color: white;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
}

.teded-history-table td {
    background-color: #EDEDED;
    padding: 10px 10px 10px 10px;
    color: black;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.teded-history-table td textarea {
    resize: none;
    width: 120px;
    height: 30px;
    margin: 0;
    border-radius: 10px;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .teded-history-table {
        display: block;
        overflow: scroll;
    }


}


/* teded history */

/* withdraw history */
.withdraw-history-table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    background-color: #0A4700;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.withdraw-history-table th {
    background-color: #09470000;
    color: white;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    width: 100px;
}

.withdraw-history-table td {
    background-color: #EDEDED;
    padding: 10px 0px 10px 0px;
    border: 0px;
    color: black;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
}
@media screen and (max-width: 600px) {
    .withdraw-history-table th {
        font-size: 14px;
    }
    .withdraw-history-table td{
        font-size: 12px;
        padding: 10px 20px 10px 20px;
    }
}

/* withdraw history */

/* predict history */
.predict-history-table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    background-color: #0A4700;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.predict-history-table th {
    background-color: #09470000;
    color: white;
    padding: 10px 5px 10px 5px;
    font-size: 16px;
}

.predict-history-table td {
    background-color: #EDEDED;
    padding: 10px 5px 10px 5px;
    border: 0px;
    color: black;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.predict-history-table td textarea {
    resize: none;
    width: 150px;
    margin: 0;
}

/* predict history */

/* withdraw */
.withdraw-form {
    display: flex;
    padding: 30px 5px;
    width: 600px;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.withdraw-form label {
    width: 30%;
    display: flex;
}

.withdraw-form input[id=name],
.withdraw-form input[id=lastname] {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0px;
    background-color: white;
    border: none;
}

.withdraw-form input[id=bank] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0px;
    background-color: white;
    border: none;
}

.withdraw-form input[id=banknum] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0px;
    background-color: white;
    border: none;
}

.withdraw-form input[id=credit] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0px;
    background-color: white;
    border-radius: 20px;
}

.submit-withdraw {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0px;
    border-radius: 20px;
    border: 1px solid var(--color-main);
    color: white;
    font-weight: 600;
    background-color: var(--color-main);
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .withdraw-form {
        width: 100%;
    }
}
/* withdraw */